name: Cordova Android Build

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Move to cordova project folder
        run: cd psyapp && pwd
        shell: bash

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Cordova CLI
        run: npm install -g cordova

      - name: Install dependencies
        run: cd psyapp && npm install || true

      - name: Add Android platform
        run: cd psyapp && cordova platform add android

      - name: Build APK
        run: cd psyapp && cordova build android

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: built-apk
          path: psyapp/platforms/android/app/build/outputs/apk/debug/app-debug.apk
